In [1]:
# importamos las bibliotecas necesarias para el análisis
import pandas as pd
import numpy as np
import re

In [2]:
# 3. Use at least 5 data cleaning techniques inside a file named `clean.ipynb`
# null values, columns drop, duplicated data, string manipulation, apply fn, categorize, regex, etc.
pd.set_option('display.max_rows', 500)
df = pd.read_csv('input/attacks.csv',encoding='latin-1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
print(df.shape)
df.columns

(25723, 24)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
# Lower case
df.columns = map(str.lower, df.columns)
display(df)

,case number,date,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Striping spaces
df.columns = map(str.strip, df.columns)
display(df)

,case number,date,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Setting the DataFrame with the series I have to look for.
# Because they may have spaces o different type of letter, I need to standardize criteria.
# I choose strip and lower case 
df[["year","fatal (y/n)","species"]]

         year fatal (y/n)          species
0      2018.0           N      White shark
1      2018.0           N              NaN
2      2018.0           N              NaN
3      2018.0           N        2 m shark
4      2018.0           N  Tiger shark, 3m
...       ...         ...              ...
25718     NaN         NaN              NaN
25719     NaN         NaN              NaN
25720     NaN         NaN              NaN
25721     NaN         NaN              NaN
25722     NaN         NaN              NaN

[25723 rows x 3 columns]

In [7]:
# Choosing columns (year,injury,fatal (y/n), species)
my_series = df[["year","fatal (y/n)","species"]]
display(my_series)

         year fatal (y/n)          species
0      2018.0           N      White shark
1      2018.0           N              NaN
2      2018.0           N              NaN
3      2018.0           N        2 m shark
4      2018.0           N  Tiger shark, 3m
...       ...         ...              ...
25718     NaN         NaN              NaN
25719     NaN         NaN              NaN
25720     NaN         NaN              NaN
25721     NaN         NaN              NaN
25722     NaN         NaN              NaN

[25723 rows x 3 columns]

In [8]:
#guardar en archivo

In [9]:
# Missing values. These are the null values in the series we are analizing.

null_cols = df.isnull().sum()
null_cols[null_cols > 0]

case number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex                       19986
age                       22252
injury                    19449
fatal (y/n)               19960
time                      22775
species                   22259
investigator or source    19438
pdf                       19421
href formula              19422
href                      19421
case number.1             19421
case number.2             19421
original order            19414
unnamed: 22               25722
unnamed: 23               25721
dtype: int64

In [10]:
#my_series = my_series.dropna(subset=['year','fatal (y/n)', 'species'])

In [26]:
my_series = my_series.dropna(subset=['year','fatal (y/n)','species'])
display(my_series.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2948 entries, 0 to 6296
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         2948 non-null   float64
 1   fatal (y/n)  2948 non-null   object
 2   species      2948 non-null   object
dtypes: float64(1), object(2)
memory usage: 92.1+ KB

None

In [29]:
my_series["species"] = my_series["species"].str.lower()

In [44]:
my_series.head(50)

      year fatal (y/n)                                            species
0   2018.0           N                                        white shark
3   2018.0           N                                          2 m shark
4   2018.0           N                                    tiger shark, 3m
6   2018.0           Y                                        tiger shark
7   2018.0           N                                    lemon shark, 3'
8   2018.0           N                                     bull shark, 6'
10  2018.0           N                                    grey reef shark
13  2018.0           N                                   invalid incident
14  2018.0           N                              tawny nurse shark, 2m
16  2018.0           N                    shark involvement not confirmed
18  2018.0           N                                        tiger shark
20  2018.0           N                                       questionable
21  2018.0           N                                          3 m shark
22  2018.0           N                                 white shark, 3.5 m
23  2018.0           N                                        tiger shark
24  2018.0           N                                 white shark, 2.5 m
25  2018.0           N                                           6' shark
26  2018.0           N                                juvenile bull shark
30  2018.0           N                                        tiger shark
31  2018.0           N                    shark involvement not confirmed
32  2018.0           N                                          2 m shark
33  2018.0           N                                         bull shark
34  2018.0           N                                        white shark
35  2018.0           N                                   tiger shark, 12'
36  2018.0           N                                    wobbegong shark
37  2018.0           N                                        3.5 m shark
38  2018.0           N                                        1.8 m shark
39  2018.0           N                                     blacktip shark
40  2018.0           N                juvenile white shark,  2.7 to 3.2 m
42  2018.0           N                                    bull shark, 2 m
43  2018.0           N                               possibly a wobbegong
44  2018.0           N      injury believed caused by an eel, not a shark
45  2018.0           N                                   galapagos shark?
46  2018.0           N                                           2m shark
47  2018.0           N                                         bull shark
48  2018.0           N                                   bull shark, 3 m
49  2018.0           N                               grey reef shark. 2 m
50  2018.0           N                                 white shark, 3.5 m
51  2018.0           N                                        small shark
52  2018.0           N                                   wobbegong shark?
53  2017.0           N                                        tiger shark
55  2017.0           N                               juvenile nurse shark
56  2017.0           N                                    nurse shark. 5'
57  2017.0           N                                tiger shark, female
58  2017.0           Y                                tiger shark, female
59  2017.0           Y  some drowned but other may have been killed by...
60  2017.0           N                                 white shark, 4.6 m
63  2017.0           N                                          2 m shark
64  2017.0           Y                                        tiger shark
65  2017.0           N                                 cookiecutter shark

In [41]:
whitesharks = my_series.species.str.contains("white").value_counts()

In [42]:
# Filtering species column looking for white sharks

whitesharks.head(10)

False    2287
True      661
Name: species, dtype: int64

In [43]:
df[“columnanueva”].value_counts()

SyntaxError: invalid character in identifier (<ipython-input-43-1aced37b0bc6>, line 1)

In [35]:
# Filtering species column looking for white sharks

white = r"(.*)?white(.*)?"

def looking_for_white_sharks(x):
    if re.search (white,x):
        return 'white'
    else:
        return x
    
    white = r”(.*)?white(.*)?”
def pasabersiesblanco(x):
    if re.search (white,x):
        return “white”
    else:
        return x

SyntaxError: invalid character in identifier (<ipython-input-35-30e40a82aa2e>, line 11)

In [36]:
my_series['white_species'] = my_series['species'].apply(looking_for_white_sharks)

NameError: name 'looking_for_white_sharks' is not defined

In [ ]:
my_series['white_species'].value_counts()
df[“columnanueva”] = df[“species”].apply(pasabersiesblanco)
df[“columnanueva”].value_counts()
aunque no sé si te vale así la función o si tienes que poner if re.search lalala != None

In [ ]:
display(my_series)

In [ ]:

my_series["species"].value_counts()

In [ ]:
my_series.str.findall(r'(.*)?white(.*)?')
df['name'].apply(get_manufacturer)

In [ ]:
my_series1 = my_series['species'].str.contains('white')
display(my_series1)