In [1]:
# importamos las bibliotecas necesarias para el análisis
import pandas as pd
import numpy as np

In [2]:
# 3. Use at least 5 data cleaning techniques inside a file named `clean.ipynb`
# null values, columns drop, duplicated data, string manipulation, apply fn, categorize, regex, etc.
pd.set_option('display.max_rows', 500)
df = pd.read_csv('input/attacks.csv',encoding='latin-1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
print(df.shape)
df.columns

(25723, 24)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [4]:
# Setting the DataFrame with the series I have to look for.
# Because they may have spaces o different type of letter, I need to standardize criteria.
# I choose strip and lower case 
df[["Year","Injury","Fatal (Y/N)","Species"]]

KeyError: "['Species'] not in index"

In [5]:
# Lower case
df.columns = map(str.lower, df.columns)
display(df)

,case number,date,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Striping spaces
df.columns = map(str.strip, df.columns)
display(df)

,case number,date,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal (y/n)', 'time',
       'species', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

In [16]:
# Choosing columns (year,injury,fatal (y/n), species)
my_series = df[["year","injury","fatal (y/n)","species"]]
display(my_series)

,year,injury,fatal (y/n),species
0,2018.0,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.0,Minor injury to left thigh,N,NaN
2,2018.0,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.0,Minor injury to lower leg,N,2 m shark
4,2018.0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...
25718,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN

In [31]:
# Setting how to see more rows while scrolling

pd.set_option('display.max_rows',30)
my_series.head(30)

,year,injury,fatal (y/n),species
0,2018.0,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,2018.0,Minor injury to left thigh,N,NaN
2,2018.0,Injury to left lower leg from surfboard skeg,N,NaN
3,2018.0,Minor injury to lower leg,N,2 m shark
4,2018.0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
5,2018.0,"No injury, board bitten",N,NaN
6,2018.0,FATAL,Y,Tiger shark
7,2018.0,Minor injury to foot. PROVOKED INCIDENT,N,"Lemon shark, 3'"
8,2018.0,Lower left leg bitten,N,"Bull shark, 6'"
9,2018.0,Minor injury to foot,N,NaN
10,2018.0,Minor bite to hand by captive shark. PROVOKED ...,N,Grey reef shark
11,2018.0,Injuries to lower right leg and foot,N,NaN
12,2018.0,Severe bite to right forearm,N,NaN
13,2018.0,Injured by teeth of a dead porbeagle shark he ...,N,Invalid incident
14,2018.0,Shallow lacerations to finger PROVOKED INCIDENT,N,"Tawny nurse shark, 2m"
15,2018.0,"Minor injury, marks on board",N,NaN
16,2018.0,"No injury, surfboard damaged",N,Shark involvement not confirmed
17,2018.0,Minor injury to ankle,N,NaN
18,2018.0,"No injury, shark bit scuba gear",N,Tiger shark
19,2018.0,"No injury, knocked off board by shark",N,NaN
20,2018.0,No injury,N,Questionable
21,2018.0,"No injury, knocked off board by shark",N,3 m shark
22,2018.0,"No injury, shark struck his leg",N,"White shark, 3.5 m"
23,2018.0,5-inch cut to hand,N,Tiger shark
24,2018.0,"No injury, shark bit hole in ski",N,"White shark, 2.5 m"
25,2018.0,Lacerations to right lower leg,N,6' shark
26,2018.0,Lacerations to foot and ankle,N,Juvenile bull shark
27,2018.0,"Multiple severe injuries to arms and leg, leg ...",NaN,NaN
28,2018.0,Laceration to right thigh,N,NaN
29,2018.0,Lacerations to legs,N,NaN

In [36]:
y = my_series["year"].value_counts()
display(y)

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1753.0      1
77.0        1
1785.0      1
1580.0      1
1543.0      1
Name: year, Length: 249, dtype: int64

In [38]:
my_series.sort_values(by=['year'],ascending=False)

,year,injury,fatal (y/n),species
0,2018.0,"No injury to occupant, outrigger canoe and pad...",N,White shark
40,2018.0,Laceratons to right leg & foot,N,"Juvenile white shark, 2.7 to 3.2 m"
29,2018.0,Lacerations to legs,N,NaN
30,2018.0,No Injury. Shark swam away with the surf board,N,Tiger shark
31,2018.0,Injury to ankle from marine animal trapped in ...,N,Shark involvement not confirmed
...,...,...,...,...
25718,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN

In [ ]:
df["species"].value_counts()

In [ ]:
for year,total in df["year"].value_counts().iteritems():
    print(f"There are {total} {year}")

In [ ]:
df[["year","injury","fatal (y/n)","species"]][df["year"]=="General Motors"]